h1(id="title") Welcome to 
	= projectname + ' ' + projectversion
span To make use of the service, use the REST commands below:
br 
ul
	li
		b
			= projecturl
		span ==> Display quick guide
	li
		b
			= projecturl + 'lesson/add'
		span ==> Add a new lesson
	li
		b
			= projecturl + 'lesson/ls'
		span ==> List the stored lessons

