h1(id="title") Welcome to 
	= projectname + ' ' + projectversion
span To make use of the service, use the REST commands below:
br 
ul
	li
		b
			= projecturl
		span  ==> Display quick guide
	li
		b
			= projecturl + 'label/#label,#label,#label'
		span  ==> Add a new label of observed status
	li
		b
			= projecturl + 'state/#state/#prob'
		span  ==> Add a new hidden state
	li
		b
			= projecturl + 'state/#state/#label/#prob'
		span  ==> Add an emission of a state
	li
		b
			= projecturl + 'state/#state00/to/#state01/#prob'
		span  ==> Add a transition of a state
	li
		b
			= projecturl + 'lesson/ls'
		span  ==> List the stored lessons
	li
		b
			= projecturl + 'lesson/compile'
		span ==> Compile the course, using the added lessons
	

